.container {
  display: grid;
  width: 500px;
  height: 500px;
  border: black solid 1px;
  margin: 0 auto;
}
.cell {
  border: 1px solid black;
}
h1 {
  text-align: center;
  font-size: 44px;
  font-family: monospace;
  opacity: 0.8;
}
